<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>766075537924-fk7vtopnu373bhgnf5otg65u3f54b4jd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766075537924-fk7vtopnu373bhgnf5otg65u3f54b4jd</string>
	<key>API_KEY</key>
	<string>AIzaSyAIkYK4V0GnnP1WlQUndOhPXAKfXcgRDhw</string>
	<key>GCM_SENDER_ID</key>
	<string>766075537924</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ascensionlegaldiarylawapplication</string>
	<key>PROJECT_ID</key>
	<string>ascension-legal-diary-law-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ascension-legal-diary-law-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:766075537924:ios:9dcadfd3932eb34ff00351</string>
</dict>
</plist>